.mystery-content {
  text-align: center;
}
.mystery-content img {
  width: 20rem;
}

.frame {
  position: relative;
  border-color: rgb(131, 161, 255);
}

.answer {
  position: absolute;
  right: -1000rem;
  top: 50%;
}
.answer img {
  width: 5rem;
}