@charset "UTF-8";
html {
  overflow-x: hidden;
  color: #333333;
  font-size: 62.5%;
  font-family: "Noto Sans JP", "Arial", "Helvetica", "Segoe UI", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

@media screen and (max-width: 520px) {
  .sp-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
}
@media screen and (min-width: 521px) {
  .sp-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
}
.container {
  margin: auto;
  width: 100rem;
  max-width: 90vw;
}
@media screen and (max-width: 520px) {
  .container {
    width: 90vw;
  }
}

.frame {
  border-style: ridge;
  border-width: 1rem;
  width: 30rem;
  height: auto;
  background-color: #fff;
  margin-top: 2rem;
  padding: 1rem;
}

.annotation {
  visibility: hidden;
  color: red;
}

input[type=email],
input[type=password],
input[type=text] {
  border: #333333 solid 1px;
  border-radius: 5px;
  text-indent: 0.5em;
  width: 90%;
}

.terms-title {
  text-align: center;
}

.terms {
  padding: 1rem;
  border: #333333 solid 1px;
  width: 100%;
  margin: 0 auto;
  height: 20rem;
  overflow-y: scroll;
  font-size: 1rem;
}
.terms ol {
  list-style-type: decimal;
  margin-left: 2rem;
}
.terms p {
  margin: 1rem 0;
}
.terms p:first-of-type {
  margin-top: 0;
}
.terms em {
  font-weight: bold;
  font-style: normal;
}

.agreement-wrap {
  text-align: center;
}
.agreement-wrap span {
  margin-left: 2rem;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#register-form > div {
  margin: 1rem 0;
  padding: 0 2rem;
  width: 100%;
}

#submit-btn {
  text-align: center;
  border: #333333 solid 1px;
  max-width: 10rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}